# logs etc
__pycache__
_local_data/supervisor/logs/*
supervisord.log
supervisord.pid
supervisord.conf

indexify_env
_watch_folder/*
indexify-local/_local_data
indexify-local/extractors-json/*
sample.mp3
sample.pdf

#tkr stuff
_testing
_next_steps.md

# the indexify binary
indexify-local/indexify
