# logs etc
_local_data/supervisor/logs/*
supervisord.log
supervisord.pid

_watch_folder/*
indexify_env
__pycache__
indexify-local/extractors-json/*
#tkr stuff

supervisord.conf
_next_steps.md

# the indexify binary
indexify-local/indexify